.env
Gemfile.lock
.DS_Store
.vs/*
images/Image_Builder/LevelUp.png
images/Image_Builder/LevelUp0.png
images/Image_Builder/LevelUp1.png
images/Image_Builder/LevelUp2.png
images/Image_Builder/user_url_img.png
images/Type Double.png
